/* Reset styles */
body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial, sans-serif;
}

:root {
    --background-color:#333;
    --text-color:white;
    --nav-color:#333;
    --container-text-color: white;
    --container-background-color:rgba(0, 0, 0, 0.5);
    --feature-box-color:#444;
    --text-container-text-color:white;
    --text-container1-color:rgba(0, 0, 0, 0.5);
    --button-color:white;
    --button-text-color:black;
    --footer-color:#444;
    --p-info-color:white;
    --skin-color:white;
    --title-color:white;
    --join-color:white;
  }
  
  [data-theme="light"] {

    --background-color:white;
    --text-color:white;
    --nav-color:#007bff;
    --container-text-color: white;
    --container-background-color:rgba(255, 255, 255, 0.223);
    --feature-box-color:#007bff;
    --text-container-text-color: ;
    --text-container1-color:rgba(255, 255, 255, 0.223);
    --button-color: #007bff;
    --button-text-color:white;
    --footer-color: #007bff;
    --p-info-color:black;
    --skin-color:black;
    --title-color: black;
    --join-color:black;
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
  }


.nav-bar {
    background-color: var(--nav-color);
    padding: 1rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-bar .list-item {
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
  }
  
  .nav-bar .list-item li {
    color: white;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-align: center;
  }
  
  .nav-bar .list-item li:hover {
    background-color: white; 
    border-radius: 8px;
  }







.theme-checkbox {
    --toggle-size: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 6.25em;
    height: 3.125em;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
    background: -o-linear-gradient(left, #007bff 50%, #ffffff 50%) no-repeat;
    background: linear-gradient(to right, #efefef 50%, #ffffff 50%) no-repeat;
    background-size: 205%;
    background-position: 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    border-radius: 99em;
    position: relative;
    cursor: pointer;
    font-size: var(--toggle-size);
  }
  
  .theme-checkbox::before {
    content: "";
    width: 2.25em;
    height: 2.25em;
    position: absolute;
    top: 0.438em;
    left: 0.438em;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #8c2b2b), color-stop(50%, #bb3737)) no-repeat;
    background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
    background: linear-gradient(to right, #007bff 50%, #2a2a2a 50%) no-repeat;
    background-size: 205%;
    background-position: 100%;
    border-radius: 50%;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  
  .theme-checkbox:checked::before {
    left: calc(100% - 2.25em - 0.438em);
    background-position: 0;
  }
  
  .theme-checkbox:checked {
    background-position: 100%;
  }







.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.nav-bar .list-item {
    text-decoration: none;
    display: flex; 
    justify-content: space-around; 
    align-items: center;
}

.nav-bar .list-item li {
    color: #fff; 
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-align: center;
}
a{
    text-decoration: none;
}

.nav-bar .list-item li:hover {
    background-color: #555; 
    border-radius: 8px; 
}


.video-container {
    position: relative;
    width: 100%;
    height: calc(100vh - 80px);
    overflow: hidden;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    filter: blur(2px);
    transition: filter 0.3s ease; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.text-container {
    position: absolute;
    top: 65%;
    right: 100px;
    transform: translateY(-50%);
    z-index: 2;
    color: var(--container-text-color);
    text-align: right;
    background: var(--container-background-color);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.text-container p {
    font-size: 50px;
    line-height: 1.4;
    max-width: 500px;
}


.p-info {
    color: var(--p-info-color);
    font-size: 1.2rem;
    line-height: 1.8;
    margin: 2rem auto;
    max-width: 800px;
    text-align: justify;
}


.key-features ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
}

.key-features {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    gap: 20px; 
}

.key-features li {
    width: 30%; 
    margin-bottom: 20px;
}

.feature-box {
    background-color: var(--feature-box-color);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    color: var(--feature-color);
    text-align: left;
}

.feature-box h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.feature-box p {
    font-size: 1rem;
    line-height: 1.5;
}


.text-container1 {
    align-items: center;
    font-size: 40px;
    position: absolute;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 100px;
    top: 70%;
    right: 400px;
    transform: translateY(-50%);
    z-index: 2;
    color: var(--text-container1-text-color);
    text-align: right;
    background: var(--text-container1-color);
    
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.skin-container{
    align-items: center;
    text-align: center;
}

.skin-title{
    color: var(--title-color);
    font-size: 40px;
}

.skin-description{
    color: var(--skin-color);
    font-size: 1.2rem;
    line-height: 1.8;
    margin: 2rem auto;
    max-width: 1200px;
    text-align: justify;
}


.skin-img {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
    margin: 20px auto;
    max-width: 900px; 
}

.skin-img img {
    width: 100%; 
    height: auto; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    object-fit: cover; 
    transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth transitions for zoom and opacity */
}

.skin-img img:hover {
    transform: scale(1.2); /* Zoom out the hovered image */
    z-index: 2; /* Bring the hovered image to the front */
}

.skin-img img:not(:hover) {
    transform: scale(0.9); /* Shrink non-hovered images */
    opacity: 0.7; /* Slightly fade non-hovered images */
}



.join-us{
    color: var(--join-color);
    margin-top: 60px;
    font-size: 30px;
}

.market-button {
    border-color: white;
    font-size: 25px;
    border-radius: 15px;
    background-color: var(--button-color);
    color: var(--button-text-color);
    margin-top: 20px;
    padding: 15px 80px;
    margin-bottom: 20px;
    transition: background-color 0.3s, color 0.3s;
  }



.market-button:hover{
    background-color: #333;
    color: white;
    transition: 0.3s;
}

footer {
    background-color: var(--footer-color);
    color: white; 
    padding: 2rem 0; 
    text-align: center; 
    font-family: Arial, sans-serif;
    margin-top: 40px;
}

footer ol {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; 
    gap: 2rem; 
    flex-wrap: wrap; 
}

footer li {
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

footer li:hover {
    color: gray;
    opacity: 0.7;
}

footer .socials {
    margin-bottom: 1rem;
}

footer .footer-list {
    margin-top: 1rem;
}

footer p {
    font-size: 1rem;
    color: #bbb;
    margin-top: 2rem;
}
